<ng-container *ngIf="notifications && notifications.length; else noItems">
  <div class="note-container">
    <mat-card-title class="note-container__title">Notifications</mat-card-title>
    <ng-container *ngFor="let note of notifications">
      <mat-card class="note-container-item">
        <div>
          <mat-card-subtitle>{{note.subject}}</mat-card-subtitle>
          <mat-card-title class="note-container-item-title">{{note.description}}</mat-card-title>
        </div>
        <div>
          <img *ngIf="!note.isReadable" src="assets/images/icons/exclamation-mark.svg" alt="" width="50" height="50" />
          <img *ngIf="note.isReadable" src="assets/images/icons/checked.svg" alt="" width="50" height="50" />
        </div>
      </mat-card>
    </ng-container>
  </div>
</ng-container>



<ng-container *ngIf="showLoader">
  <app-loader></app-loader>
</ng-container>


<ng-template #noItems>
  <div class="no-items">
    <img src="assets/images/icons/notification-not.svg" alt="" class="no-items-icon"/>
    <mat-card-subtitle class="order-container__order-info-who-text">Not founded notifications</mat-card-subtitle>
  </div>
</ng-template>
